<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Form</title>
</head>
<body>
    <h1>Submit a Form</h1>
    <form method="post" action="/submit">
        <div>
            <label for="name">Please Enter Your Name</label>
            <input id="name" type="text" for="name" name="name">
        </div>
        <div>
            <label for="branch">Please enter your branch</label>
            <input id="branch" type="text" for="branch">
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</body>
</html>